<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Computed Properties </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
</head>
<body>
    <div id="app">

        <h1> Computed Properties </h1>
        <h4> Testing computed properties </h4>
        Level: {{ skill }}
        <div> {{ fullName }}</div>
        <input type="text" v-model="points">
        <input type="text" v-model="first">
        <input type="text" v-model="last">
        <pre>
            {{  $data | json }}
        </pre>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.19/vue.min.js"></script>
    <script>
        var data ={
            points: 100,
            first: 'Héctor Iván',
            last: 'Patricio Moreno',
            fullName: 'Héctor Iván Patricio Moreno'
        }
        new Vue({
            el: '#app',
            data: data,
            computed: {
                skill: function() {
                    if (this.points <= 100){
                        return "Beginner";
                    }
                    return 'Advanced';
                }
            },
            watch: {
                first: function(first) {
                    this.fullName = first + ' ' + this.last
                },
                last: function(last) {
                    this.fullName = this.first + ' ' + last
                }
            }
        })
    </script>
</body>
</html>